@use 'mixins' as *;

.layout-sidebar {
    position: fixed;
    width: 260px;
    height: 100vh;
    z-index: 999;
    overflow: visible;
    user-select: none;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: width 0.2s ease;

    // Fondo limpio
    background: var(--surface-card);
    border-right: 1px solid var(--surface-border);

    // Modo colapsado
    &.collapsed {
        width: 70px;
    }
}

.layout-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.layout-submenu-enter-from,
.layout-submenu-leave-to {
    max-height: 0;
    opacity: 0;
}

.layout-submenu-enter-to,
.layout-submenu-leave-from {
    max-height: 1000px;
    opacity: 1;
}

.layout-submenu-leave-active {
    overflow: hidden;
    transition: all 0.25s ease;
}

.layout-submenu-enter-active {
    overflow: hidden;
    transition: all 0.25s ease;
}