@use 'mixins' as *;

.layout-topbar {
    position: fixed;
    height: 4rem;
    z-index: 997;
    left: 260px;
    top: 0;
    right: 0;
    padding: 0 2rem;
    background: var(--surface-card);
    border-bottom: 1px solid var(--surface-border);
    transition: left 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .layout-topbar-action {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        color: var(--text-color);
        background: transparent;
        border: none;
        transition: all 0.2s ease;
        cursor: pointer;

        &:hover {
            background: var(--surface-hover);
        }

        &:focus-visible {
            @include focused();
        }

        i {
            font-size: 1.25rem;
        }
    }

    .layout-topbar-actions {
        display: flex;
        gap: 0.5rem;
    }

    .layout-config-menu {
        display: flex;
        gap: 0.5rem;
    }
}

// Cuando el sidebar está colapsado
.layout-static-inactive {
    .layout-topbar {
        left: 70px;
    }
}

@media (max-width: 991px) {
    .layout-topbar {
        left: 0;
        padding: 0 1rem;
    }
}